
<ion-content style="height: 100%;">

  <app-header></app-header>

  <div class="container">
    <div class="card-info">
      <ion-input placeholder="Numéro de carte"></ion-input>
      <div class="sub-card-info">
        <ion-input placeholder="Date d'expiration"></ion-input>
        <ion-input placeholder="CVC"></ion-input>
      </div>
      <ion-input placeholder="Nom du propriétaire"></ion-input>
    </div>
    
    <app-shopping-info></app-shopping-info>

    <div class="button">
      <ion-button>Terminer</ion-button>
    </div>
  
  </div>


  <app-footer></app-footer>

</ion-content>
