
<ion-content style="height: 100%;">

  <app-header></app-header>

  <div class="container">
    <div class="card-info">
      <ion-input placeholder="Numéro de carte"></ion-input>
      <div class="sub-card-info">
        <ion-input placeholder="Date d'expiration"></ion-input>
        <ion-input placeholder="CVC"></ion-input>
      </div>
      <ion-input placeholder="Nom du propriétaire"></ion-input>
    </div>
    
    <div class="panier-container">
      <h3>Panier</h3>
      <p>Kit sport:</p>
      <div class="sport">
        <p id="petit">-    1 petit 50$</p>
      </div>
      <p>Logo: 90$</p>
      <h3>prix: 140$</h3>
    </div>

    <div class="button">
      <ion-button>Terminer</ion-button>
    </div>
  
  </div>


  <app-footer></app-footer>

</ion-content>
